
.text-invisble{
    display: none;
}

.box{
    height: 100px;
    width: 50%;
    border: 1px solid black;
}
.box-red{
    height: 500px;
    width: auto;
    border: 1px solid red;
}

.Assinatura-Linha{
    margin-top: -1px;
    position: relative;
    
}

.btn-check:checked+.btn-secondary {
    background-color: rgb(51, 48, 48);
    color: #FFF;
}

