.text-invisble{
    display: none;
}

.logo{
    opacity: 0.3;
}

.box{
    height: 100px;
    width: 50%;
    border: 1px solid black;
}
.box-red{
    height: 500px;
    width: auto;
    border: 1px solid red;
}

